.card-img-top {
  padding-bottom: 10px;
}


#design {
  display: none;
  clear: both;
  padding: 10px;

}

.design {
  display: none;
  float: left;
  margin: 20px;
  padding-right: 25px;
  width: 250px;
  height: 175px;
  vertical-align: middle;

}

.card {
  display: none;
  margin-top: 20px;
}

#span {
  font-size: 1.5em;
  padding-right: 3px;
}

#design, .design, #c-sharp, .c-sharp, #ruby, .ruby {
  cursor: pointer;
}

#c-sharp {
  display: none;
  clear: left;
  padding: 15px;
}

.c-sharp {
  display: none;
  float: left;
  margin: 15px;
  padding-right: 10px;
  width: 250px;
  height: 175px;
  vertical-align: middle;
}

#ruby {
  display: none;
  clear: left;
  padding: 15px;
}

.ruby {
  display: none;
  float: left;
  margin: 15px;
  padding-right: 10px;
  width: 250px;
  height: 175px;
  vertical-align: middle;
}
